.cover-container{
   max-width: 60vw;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70) ), url('/images/back.jpg');
background-size: cover;
background-position: center;
}
.nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgb(255, 255, 255,0.5);
    margin-left: 2rem;
    border-bottom: 0.25rem solid transparent;

}
.nav-link:hover{
  border-bottom-color: rgb(255, 255, 255,0.5);  
}
.btn-secondary{
    color: #333;
font-weight: 700;
}
.btn-secondary:hover{
    color: #333;

 
}
.nav-link.active{
color: rgb(255, 255, 255);  
border-bottom-color: white;
}


